<h1>Edit Task Page</h1>

<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @task, local: true do |f| %>
  <div>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content, 'Content' %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit 'Update Task', id: 'update-task' %>
<% end %>

<%= link_to 'Back', tasks_path, id: 'back' %>
