<h1><%= t('views.tasks.index.title') %></h1>

<%= form_with url: tasks_path, scope: :search, method: :get, local: true do |f| %>
  <div>
    <%= f.label :label, 'ラベル' %>
    <%= f.select :label, current_user.labels.map { |l| [l.name, l.id] }, { include_blank: true }, { id: 'search_label' } %>
  </div>
  <div>
    <%= f.label :title, t('views.tasks.index.search_title') %>
    <%= f.text_field :title, value: params.dig(:search, :title) %>
  </div>
  <div>
    <%= f.label :status, t('views.tasks.index.search_status') %>
    <%= f.select :status, Task.statuses.keys.map { |s| [t("status.#{s}"), s] }, { include_blank: true } %>
  </div>
  <%= f.submit t('views.tasks.index.search_button'), id: 'search_task' %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:content) %></th>
      <th><%= link_to t('views.tasks.index.deadline_on'), sort_deadline_on: true %></th>
      <th><%= link_to t('views.tasks.index.priority'), sort_priority: true %></th>
      <th><%= Task.human_attribute_name(:status) %></th>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline_on %></td>
        <td><%= t("priority.#{task.priority}") %></td>
        <td><%= t("status.#{task.status}") %></td>
        <td><%= task.created_at %></td>
        <td><%= link_to t('views.tasks.index.show'), task_path(task), class: 'show-task' %></td>
        <td><%= link_to t('views.tasks.index.edit'), edit_task_path(task), class: 'edit-task' %></td>
        <td><%= link_to t('views.tasks.index.destroy'), task_path(task), method: :delete, data: { confirm: t('views.tasks.index.confirm') }, class: 'destroy-task' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>
