<h1><%= t('views.tasks.new.title') %></h1>
<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @task, local: true do |f| %>
  <div>
    <%= f.label :title, Task.human_attribute_name(:title) %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content, Task.human_attribute_name(:content) %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit t('views.tasks.new.submit'), id: 'create-task' %>
<% end %>
<%= link_to t('views.tasks.new.back'), tasks_path, id: 'back' %>