<h1><%= t('views.tasks.new.title') %></h1>
<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @task, local: true do |f| %>
  <div>
    <%= f.label :title, Task.human_attribute_name(:title) %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content, Task.human_attribute_name(:content) %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.label :deadline_on, Task.human_attribute_name(:deadline_on) %>
    <%= f.date_field :deadline_on %>
  </div>
  <div>
    <%= f.label :priority, Task.human_attribute_name(:priority) %>
    <%= f.select :priority, Task.priorities.keys.map { |p| [t("priority.#{p}"), p] }, { include_blank: true } %>
  </div>
  <div>
    <%= f.label :status, Task.human_attribute_name(:status) %>
    <%= f.select :status, Task.statuses.keys.map { |s| [t("status.#{s}"), s] }, { include_blank: true } %>
  </div>
  <%= f.submit t('views.tasks.new.submit'), id: 'create-task' %>
<% end %>
<%= link_to t('views.tasks.new.back'), tasks_path, id: 'back' %>