<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-nav ml-auto">
        <% if logged_in? %>
          <%= link_to 'タスク一覧', tasks_path, id: 'tasks-index', class: 'nav-link' %>
          <%= link_to 'タスクを登録する', new_task_path, id: 'new-task', class: 'nav-link' %>
          <%= link_to 'ラベル一覧', labels_path, id: 'labels-index', class: 'nav-link' %>
          <%= link_to 'ラベルを登録する', new_label_path, id: 'new-label', class: 'nav-link' %>
          <%= link_to 'アカウント', user_path(current_user), id: 'account-setting', class: 'nav-link' %>
          <%= link_to 'ログアウト', logout_path, method: :delete, id: 'sign-out', class: 'nav-link' %>
          <% if current_user.admin? %>
            <%= link_to 'ユーザ一覧', admin_users_path, id: 'users-index', class: 'nav-link' %>
            <%= link_to 'ユーザを登録する', new_admin_user_path, id: 'add-user', class: 'nav-link' %>
          <% end %>
        <% else %>
          <%= link_to 'アカウント登録', new_user_path, id: 'sign-up', class: 'nav-link' %>
          <%= link_to 'ログイン', new_session_path, id: 'sign-in', class: 'nav-link' %>
        <% end %>
      </div>
    </nav>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>