<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <nav>
      <%= link_to t('nav.tasks_index'), tasks_path, id: 'tasks-index' %>
      <%= link_to t('nav.new_task'), new_task_path, id: 'new-task' %>
    </nav>
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>